@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

@keyframes fade {
	0% { 
		height: 100%;
	}
	100% { 
		height: 0px; 
	}
}

body {
	background-color: black;
	color: white;
	font-family: 'Playfair Display', serif;
	margin: 8px;
	cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30px' width='30px'  viewBox='0 0 16 16' %3E%3Cpath d='M 1 1 L 12 1 L 9 4 L 15 10 L 10 15 L 4 9 L 1 12 Z' fill='red'%3E%3C/path%3E%3C/svg%3E"), move;
}

a {
	cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='34px' width='27px' stroke='black' stroke%2Dwidth='0%2E2' viewBox='0 0 24 31' %3E%3Cpath d='M 11 3 C 11 1 14 1 14 3 L 14 5 L 14 16 L 14 11 C 14 10 17 10 17 11 L 17 17 L 17 12 C 17 11 20 11 20 12 L 20 18 L 20 13 C 20 12 23 12 23 13 L 23 16 C 23 25 24 30 19 30 L 15 30 C 8 30 11 27 2 18 C 1 17 1 16 3 16 C 6 16 11 24 11 19 Z' fill='red'%3E%3C/path%3E%3C/svg%3E"), auto;
}

ul {
	overflow: hidden;
	transition: all 1s linear;
	max-height: 0px;
	list-style: '\26D0' outside;
}

li {
	padding-left: 5px;
}

img {
	width: 90vw;
}

#htmldumplistheader {
	text-align: center;
	width: 100%;
}

#htmldumpcontainer {
	margin-top: 100px;
}

#lookAtMe {
	position: relative;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-top: calc(-108px - 1.4em);
	left: calc(50vw - 116px);
	z-index: -7;
}

.graduallyHidden {
	transition: all 0.2s linear;
	max-height: 100vh;
}