@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

@keyframes fade {
	0% { 
		height: 100%;
	}
	100% { 
		height: 0px; 
	}
}

body {
	background-color: black;
	color: white;
	font-family: 'Playfair Display', serif;
	margin: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

a {
	cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='34px' width='27px' stroke='black' stroke%2Dwidth='0%2E2' viewBox='0 0 24 31' %3E%3Cpath d='M 11 3 C 11 1 14 1 14 3 L 14 5 L 14 16 L 14 11 C 14 10 17 10 17 11 L 17 17 L 17 12 C 17 11 20 11 20 12 L 20 18 L 20 13 C 20 12 23 12 23 13 L 23 16 C 23 25 24 30 19 30 L 15 30 C 8 30 11 27 2 18 C 1 17 1 16 3 16 C 6 16 11 24 11 19 Z' fill='red'%3E%3C/path%3E%3C/svg%3E"), auto;
	text-decoration-color: white;
	color: white;
}

a:hover {
	text-decoration-color: red;
}

ul {
	overflow: hidden;
	transition: all 0.2s linear;
	max-height: 0px;
	list-style: '\26D0' outside;
}

li {
	padding-left: 5px;
}

img {
	width: 90vw;
}

#topsectionGrid {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-column-gap: 20px;
	justify-content: space-evenly;
	width: 90%;
}

#galleryOfMice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: white;
}

h1 {
	margin-top: 70px;
}

h3 {
	margin: 0px;
	color: white;
}

#htmldumpcontainer {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

#lookAtMe {
	height: 300px;
	cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30px' width='30px'  viewBox='0 0 16 16' %3E%3Cpath d='M 1 1 L 12 1 L 9 4 L 15 10 L 10 15 L 4 9 L 1 12 Z' fill='red'%3E%3C/path%3E%3C/svg%3E"), move;

}

#WIP {
	width: 260px;
	align-self: center;
	justify-self: center;
}

.constext {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
}

.graduallyHidden {
	transition: all 0.2s linear;
	max-height: 100vh;
}